<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="DTA HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="DTA API proxy" stopProcessing="true">
          <match url="^api(?:/(.*))?$" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
        </rule>
        <rule name="DTA news images proxy" stopProcessing="true">
          <match url="^news-images(?:/(.*))?$" />
          <action type="Rewrite" url="http://127.0.0.1:3000/news-images/{R:1}" />
        </rule>
        <rule name="DTA uploads proxy" stopProcessing="true">
          <match url="^uploads(?:/(.*))?$" />
          <action type="Rewrite" url="http://127.0.0.1:3000/uploads/{R:1}" />
        </rule>
        <rule name="DTA SPA fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="26214400" />
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>
